<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <script src="scripts/test.js"></script>
</head>

<body>

<h1 class="text-xl text-slate-700">A Simple Gesture</h1>

</body>
</html>
